<!DOCTYPE html>
<html lang="en">
<!-- Landing page inporting the required -->
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
  <style>
    h1 {
      text-align: center;
      margin-top: 1em;
    }

    .content {
      margin-left: 5em;
      margin-right: 5em;
      margin-top: 4em;
    }

    .row {
      justify-content: space-around;
    }

    .col-6 {
      padding: 1.5em;
      background-color: #210062;
    }

    body {
      background-color: #d2ebf8;
    }
  </style>
</head>

<body>
  <h1>Solid Waste Analysis</h1>
  <div class="content center">
    <div class="row">
      <div class="col-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Interactive Visualizations</h5>
            <p class="card-text">This page which shows Interactive Visualizations and gives the scope of analysis for
              the data.</p>
            <a href="/mainpage" class="btn btn-primary">Go to Main page</a>
          </div>
        </div>
      </div>
      <div class="col-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Dashboard 1</h5>
            <p class="card-text">This dashboard shows the plastic waste that is thrown to oceans per capita per kg. </p>
            <a href="/dash1" class="btn btn-primary">Go to Dashboard</a>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Dashboard 2</h5>
            <p class="card-text">This dashboard shows the composite types of solid wastes that are generated in all
              countries.</p>
            <a href="/dash2" class="btn btn-primary">Go to Dashboard</a>
          </div>
        </div>
      </div>
      <div class="col-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Dashboard 3</h5>
            <p class="card-text">This dashboard shows special types of solid wastes that are generated in all countries.
            </p>
            <a href="/dash3" class="btn btn-primary">Go to Dashboard</a>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Interactive Visualizations Summary</h5>
            <p class="card-text">This page which shows Interactive Visualizations and gives the scope of analysis for
              the data.</p>
            <a href="/summary" class="btn btn-primary">Go to Main page</a>
          </div>
        </div>
      </div>
  </div>
</body>

</html>